{% extends "base.html" %}
{% load static %}
{% load photologue_tags i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav ml-3">
                <li class="nav-item ml-auto">
                    {% if user.is_superuser %}
                        <a href="#" class= "text-danger" onclick="confirm_delete()">删除照片</a>
                        <form
                                style="display:none;"
                                id="safe_delete"
                                action="{% url "photologue_custom:photo_delete" photo.id %}"
                                method="POST"
                        >
                            {% csrf_token %}
                            <button type="submit">发送</button>
                        </form>
                    {% endif %}
                </li>
            </ul>
        </nav>
        <br>
        <div class="row col-lg-12">
            <h3 class="page-header">{{ object.title }}</h3>
        </div>
        <p class="muted"><small>{% trans "上传时间：" %} {{ object.date_added }}</small></p>
        <div class="row">
            <div class="col-md-6">
                {% if object.caption %}<p>{{ object.caption|safe }}</p>{% endif %}
                <a href="{{ object.image.url }}">
                    <img src="{{ object.get_display_url }}" class="thumbnail" alt="{{ object.title }}">
                </a>
            </div>
            <div class="col-md-6">
                {% if object.public_galleries %}
                    <p>{% trans "这张照片在以下相册中" %}:</p>
                    <table>
                        {% for gallery in object.public_galleries %}
                            <tr>
                                {#                                                <td>{% previous_in_gallery object gallery %}</td>#}
                                <td class="text-center"><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a>
                                </td>
                                {#                                                <td>{% next_in_gallery object gallery %}</td>#}
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'csrf.js' %}"></script>

    <script>
        function confirm_delete() {
            // 调用layer弹窗组件
            layer.open({
                // 弹窗标题
                title: "确认删除",
                // 正文
                content: "确认从所有相册删除这张照片吗？",
                // 点击确定按钮后调用的回调函数
                yes: function (index, layero) {
                    $('form#safe_delete button').click();
                    layer.close(index);
                },
            })
        }
    </script>
{% endblock script %}